# Java/Maven
target/
*.class
*.jar
*.war
*.iml
.idea/
*.log

# Gradle
**/build/
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
*.swp
*.swo
*.DS_Store
.vscode/
*.classpath
*.project
*.settings/

# OS
Thumbs.db
.DS_Store

# Environment
.env
